@model UDIsimulacros.models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contraseña)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contraseña)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroCelular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroCelular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Semestre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semestre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelIngles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelIngles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelLectura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelLectura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelCuantitativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelCuantitativo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelCiudadanas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelCiudadanas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelEscrita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelEscrita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCarreraNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCarreraNavigation.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idusuario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
